<!DOCTYPE html>
<html>
<html lang="de">
<head>
<title>Akku - Hotspot-Passwort</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
</head>
<body>
<div class="container">
<h2 class="text-center text-success">{{success}}</h2>
<div class="text-info>
Mit dem Taster durch einmaliges betätigen in den "Internet-Modus" versetzen.
Wenn das Modul bereits einen eingerichteten Internet-Zugang hat,
verbindet sich das Modul mit dem Router.
<br /><br />
Wenn der Zugang nicht eingerichtet ist, wechselt das Modul automatisch
in den Hotspot-Betrieb zurück.
<br /><br />
Das neue gesetzte Passwort muss dann verwendet werden,
um sich mit dem Hotspot wieder verbinden zu können.
<br /><br />
Das Passwort wurde auf "<b>{{password}}</b>" gesetzt.
<br /><br />
<a href="/settings.html" class="btn btn-warning btn-block">Zurück</a>
</div>
<script src="/vendor/jquery/jquery-3.3.1.slim.min.js"></script>
<script src="/vendor/popper/popper.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/vendor/sweetalert/sweetalert.min.js"></script>
</body>
</html>
