<!DOCTYPE html>
<html lang="de">
<head>
    <title>Herstellerseitige Einstellungen</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <h1 class="text-center text-success">Herstellerseitige Einstellungen</h1>
    <form class="p-3 mb-2 bg-dark text-white" action="/api/dev-settings" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="without_charge" id="without_charge"
                       value="without_charge" {{ 'checked' if without_charge else '' }}>
                <label class="form-check-label" for="without_charge">Anzeige der Ladung unterdrücken</label>
            </div>

            <br/>

            <div class="text-info">
                Verhindert die Anzeige der Ladung auf der Hauptseite und den benachbarten Modulen.
            </div>

            <br/>

            <select class="form-control" id="interconnection" name="interconnection">
                {% if interconnection == 'series_connection' %}
                    <option value="series_connection" selected="selected">Reihenschaltung</option>
                    <option value="parallel_connection">Parallelschaltung</option>
                {% elif interconnection == 'parallel_connection' %}
                    <option value="series_connection">Reihenschaltung</option>
                    <option value="parallel_connection" selected="selected">Parallelschaltung</option>
                {% endif %}
            </select>
            <label class="select-label" for="interconnection">Art der Verschaltung</label>

            <br/>

            <select class="form-control" id="set_branch" name="set_branch">
                {% if current_branch == 'master' %}
                    <option value="master" selected="selected">master</option>
                {% else %}
                    <option value="master">master</option>
                {% endif %}
                {% for branch in branches %}
                    {% if current_branch == branch %}
                        <option value="{{ branch }}" selected="selected">{{ branch }}</option>
                    {% elif branch == 'master' %}
                        {{ continue }}
                    {% else %}
                        <option value="{{ branch }}">{{ branch }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <label class="select-label" for="set_branch">Aktueller Branch</label>

            <br/>
            <div class="text-info">
                Der stabile Zweig ist der <b>master</b>.
                Die anderen Branches dienen zu Testzwecken.
                So können zukünftig Änderungen ausprobiert werden.
            </div>

            <br/>

            <input type="text" class="form-control" id="manufacturer_password" name="manufacturer_password"
                   placeholder="Herstellerpasswort">
            <label for="manufacturer_password">Herstellerpasswort setzen</label>
            <div class="text-info">
                Das Herstellerpasswort wird nur gesetzt, wenn eins eingegeben worden ist.
                Das Passwort wird im Klartext angezeigt und deswegen auch im Browser gespeichert.
                Das Passwort wird kryptografisch sicher auf der Daten-Partition abgespeichert.
                Es kann nicht wieder hergestellt werden.
            </div>

            <br/>

            <div class="custom-file">
                <input type="file" id="upload_logo" name="upload_logo">
                <label class="custom-file-label" for="upload_logo">Herstellerlogo hochladen</label>
            </div>

            <br/><br/>

            <button type="submit" class="btn badge-primary btn-block">Speichern</button>
            <a href="/api/update" class="btn badge-primary btn-block">Update</a>
            <a href="/settings.html" class="btn btn-warning btn-block">Zurück</a>
        </div>
    </form>
</div>


<script src="/vendor/jquery/jquery-3.3.1.slim.min.js"></script>
<script src="/vendor/popper/popper.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<!-- <script src="/vendor/sweetalert/sweetalert.min.js"></script> -->

</body>
</html>
