<!DOCTYPE html>
<html lang="de">
<head>
    <title>Akku - Hotspot-Passwort</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2 class="text-center text-success">Gerätename / Hostname</h2>
    <div class="text-info">
        Der Hostname ist auf {{ hostname }} gesetzt worden.
        <br/><br/>
        Damit alle Änderungen wirksam werden ist ein Neustart des Moduls erforderlich.
        <br/><br/>
        <a href="/settings.html" class="btn btn-warning btn-block">Zurück</a>
    </div>
</div>
<script src="/vendor/jquery/jquery-3.3.1.slim.min.js"></script>
<script src="/vendor/popper/popper.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/vendor/sweetalert/sweetalert.min.js"></script>
</body>
</html>
