<!DOCTYPE html>
<html>
<html lang="de">
<head>
<title>Akku - WLAN-Passwort</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
</head>
<body>
<div class="container">
<h2 class="text-center text-success">{{success}}</h2>
<div class="text-info">
Mit dem Taster durch einmaliges betätigen in den "Internet-Modus" versetzen.
Das WLAN-Modul versucht sich dann mit dem Router zu verbinden.
Wenn keine Verbindung möglich ist und/oder keine Internetverbindung vorhanden ist,
wechselt das WLAN-Modul wieder in den Hotspot-Modus zurück.
<br /><br / >
Bitte bedenken Sie, dass Sie auch auf Ihrem Endgerät das WLAN-Netzwerk wechseln müssen,
um auf das WLAN-Modul zugreifen zu können.
<br /><br />
Die zugewiesene IP-Adresse wird im Webinterface des Routers angezeigt.
Dazu bitte die entsprechende Dokumentation des Router-Herstellers lesen.
Bei der Fritz!Box werden die IP-Adressen der Endgeräte auf der ersten Seite aufgelistet.

<a href="/settings.html" class="btn btn-warning btn-block">Zurück</a>
</div>
<script src="/vendor/jquery/jquery-3.3.1.slim.min.js"></script>
<script src="/vendor/popper/popper.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/vendor/sweetalert/sweetalert.min.js"></script>
</body>
</html>
