<!DOCTYPE html>
<html lang="de">
<head>
    <title>Übersicht aller Akkus</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    {% if nodes %}
        <table class="table">
            <tr>
                <td colspan="3"><p class="btn btn-success btn-block">Übersicht</p></td>
            </tr>
            <tr>
                <td>Gesammtkapazität</td>
                <td class="text-right">{{ nodes.values() | map(attribute='payload') | sum(attribute='capacity') | int }}</td>
                <td>Ah</td>
            </tr>
            <tr>
                <td>Gesammtladung</td>
                <td class="text-right">{{ nodes.values() | map(attribute='payload') | sum(attribute='charge') | int }}</td>
                <td>Ah</td>
            </tr>
            <tr>
                <td>Gesammtspannung</td>
                <td class="text-right">#</td>
                <td>V</td>
            </tr>
            <tr>
                <td>Gesammtstrom</td>
                <td class="text-right">{{ nodes.values() | map(attribute='payload') | sum(attribute='current') | round(1) }}</td>
                <td>A</td>
            </tr>
            <tr><td colspan="3"></td></tr>
            {%- for addr, data in nodes.items() %}
                <tr>
                    <td colspan="3">
                        <p class="btn btn-success btn-block" type="button"
                           onclick="location.href='{{ 'http://' + addr }}'">
                            [{{ loop.index }}] {{ data['hostname'] }} - {{ addr }}
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>Kapazität</td>
                    <td class="text-right">{{ data['payload']['capacity'] }}</td>
                    <td>Ah</td>
                </tr>
                <tr>
                    <td>Ladung</td>
                    <td class="text-right">{{ data['payload']['charge'] | round(1) }}</td>
                    <td>Ah</td>
                </tr>
                <tr>
                    <td>Spannung</td>
                    <td class="text-right">{{ data['payload']['voltage'] | round(1) }}</td>
                    <td>V</td>
                </tr>
                <tr>
                    <td>Strom</td>
                    <td class="text-right">{{ data['payload']['current'] | round(1) }}</td>
                    <td>A</td>
                </tr>
                <tr>
                    <td>Temperatur</td>
                    <td class="text-right">{{ data['payload']['temperature'] | round(1) }}</td>
                    <td>°C</td>
                </tr>
                {%- for cell_voltage in data['payload']['cell_voltages'] %}
                    <tr>
                        <td>Zelle {{ loop.index }}</td>
                        <td class="text-right">{{ cell_voltage|round(2) }}</td>
                        <td>V</td>
                    </tr>
                {%- endfor %}
                <tr>
                    <td>Fehler</td>
                    <td colspan="1" class="text-right">{{ data['payload']['error_msg'] }}</td>
                </tr>
            {% endfor -%}
        </table>
    {% else %}
        <h4 class="bg-warning"></h4>
    {% endif %}
</div>

<script src="/vendor/jquery/jquery-3.3.1.slim.min.js"></script>
<script src="/vendor/popper/popper.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/vendor/sweetalert/sweetalert.min.js"></script>
</body>
</html>
