<!DOCTYPE html>
<html lang="de">
<head>
    <title>Übersicht aller Akkus</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    {% if nodes %}
        <table class="table">
            <tr>
                <td onclick="location.href='{{ '/' }}'" colspan="3">
                    <p class="btn btn-success btn-block">Übersicht</p>
                </td>
            </tr>
            <tr>
                <td>Kapazität</td>
                <td class="text-right" id="total_capacity">#</td>
            </tr>
            {% if not settings['without_charge'] %}
                <tr>
                    <td>Ladung</td>
                    <td class="text-right" id="total_charge">#
                    </td>
                </tr>
                <tr>
                    <td>Ladung</td>
                    <td class="text-right" id="total_charge_rel">#
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td>Spannung</td>
                <td class="text-right" id="total_voltage">#</td>
            </tr>
            <tr>
                <td>Strom</td>
                <td class="text-right" id="total_current">#</td>
            </tr>
            <tr>
                <td colspan="2"></td>
            </tr>
        </table>
        {%- for addr, data in nodes.items() %}
            {% set node_loop = loop %}
            <table class="table">
                <tr>
                    <td colspan="2">
                        <p class="btn btn-success btn-block"
                           onclick="location.href='{{ 'http://' + addr }}'">
                            [{{ loop.index }}] {{ data['hostname'] }} - {{ addr }}
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>Kapazität</td>
                    <td class="text-right"
                        id="{{ 'capacity_{}'.format(loop.index) }}">#
                    </td>
                </tr>
                {% if not settings['without_charge'] %}
                    <tr>
                        <td>Ladung</td>
                        <td class="text-right"
                            id="{{ 'charge_{}'.format(loop.index) }}">#
                        </td>
                    </tr>
                    <tr>
                        <td>Ladung</td>
                        <td class="text-right"
                            id="{{ 'charge_rel_{}'.format(loop.index) }}">#
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <td>Spannung</td>
                    <td class="text-right"
                        id="{{ 'voltage_{}'.format(loop.index) }}">#
                    </td>
                </tr>
                <tr>
                    <td>Strom</td>
                    <td class="text-right"
                        id="{{ 'current_{}'.format(loop.index) }}">#
                    </td>
                </tr>
                <tr>
                    <td>Temperatur</td>
                    <td class="text-right"
                        id="{{ 'temperature_{}'.format(loop.index) }}">#
                    </td>
                </tr>
                {% if total_voltage > 16 %}
                    <tr id="tr_upper_cell_voltage_{{ loop.index }}">
                        <td>Obere Zellspannung</td>
                        <td class="text-right"
                            id="upper_cell_voltage_{{ loop.index }}">#
                        </td>
                    </tr>
                    <tr id="tr_lower_cell_voltage_{{ loop.index }}">
                        <td>Untere Zellspannung</td>
                        <td class="text-right"
                            id="lower_cell_voltage_{{ loop.index }}">#
                        </td>
                    </tr>
                {% else %}
                    {%- for cell_voltage in data['payload']['cell_voltages'] %}
                        <tr>
                            <td>Zelle {{ loop.index }}</td>
                            <td class="text-right"
                                id="{{ 'cell_voltage_{}_{}'.format(node_loop.index, loop.index) }}">#
                            </td>
                        </tr>
                    {%- endfor %}
                {% endif %}
                <tr>
                    <td>Fehler</td>
                    <td class="text-right"
                        id="{{ 'error_{}'.format(node_loop.index) }}">#
                    </td>
                </tr>
            </table>
            <table class="table">
            <tr id="stats-tr">
                <td colspan=2>
                    <button onclick="window.location.href='/graph'" id="settings" type="button"
                            class="btn btn-dark btn-block btn-lg"><small>Statistiken</small></button>
                </td>
            </tr>

            <tr id="buttons1">
                <td>
                    <button onclick="fetch('{{ 'http://' + addr + '/api/on' }}', {method: 'POST'});" id="on"
                            class="btn btn-success btn-block btn-lg"><small>Akku Ein</small>
                    </button>
                </td>
                <td>
                    <button onclick="fetch('{{ 'http://' + addr + '/api/off' }}', {method: 'POST'});" id="off"
                            class="btn btn-danger btn-block btn-lg"><small>Akku Aus</small>
                    </button>
                </td>
            </tr>
            <tr id="buttons2">
                <td>
                    <button onclick="fetch('{{ 'http://' + addr + '/api/ack' }}',  {method: 'POST'});" id="reset"
                            class="btn btn-primary btn-block btn-lg"><small>Akku
                        Reset</small>
                    </button>
                </td>
                <td>
                    <button onclick="fetch('{{ 'http://' + addr + '/api/reset' }}',  {method: 'POST'});" id="ack"
                            class="btn btn-warning btn-block btn-lg"><small>Fehler
                        Reset</small>
                    </button>
                </td>
            </tr>
        {% endfor -%}

    <tr>
        <td colspan="2">
            <p class="btn btn-success btn-block"
               onclick="location.href='{{ '/' }}'">Zurück
            </p>
        </td>
    </tr>
    </table>
    {% else %}
        <h4 class="bg-warning"></h4>
    {% endif %}
</div>

<script type="application/javascript">
    let first_run = true;
    let lower_upper_voltage = false;

    function _sum(a, b) {
        return a + b;
    }

    function sum(data) {
        return data.reduce(_sum, 0);
    }

    function mean(data) {
        return data.reduce(_sum, 0) / Object.keys(data).length;
    }

    function len(data) {
        return Object.keys(data).length;
    }

    function getter(nodes, node) {
        return function (key) {
            return nodes[node]["payload"][key]
        }
    }

    function update() {
        fetch('/api/nodes').then(function (response) {
            return response.json();
        }).then(
            function (nodes) {
                let i = 1;
                let capacity;
                let charge;
                let voltage;
                let current;
                let temperature;
                let cell_voltages;
                let error_msg;
                let id;
                let total_current = 0.0;
                let total_capacity = 0;
                let total_charge = 0.0;
                let total_voltage = 0.0;
                let g;
                let td_total_charge;
                let settings = {}
                for (const node in nodes) {
                    if (nodes[node]["self"]) {
                        settings = nodes[node]["settings"];
                    }
                }
                for (const node in nodes) {
                    g = getter(nodes, node);
                    capacity = g("capacity");
                    charge = g("charge");
                    voltage = g("voltage");
                    current = g("current");
                    temperature = g("temperature");
                    cell_voltages = g("cell_voltages");
                    error_msg = g("error_msg");

                    total_capacity += capacity;
                    total_charge += charge;
                    total_voltage += voltage;
                    total_current += current;

                    if (Math.abs(current) < 0.8) {
                        current = 0.0
                    }

                    document.getElementById("capacity_" + i).innerText = capacity.toFixed(0) + " Ah";
                    let charge_td = document.getElementById("charge_" + i);
                    if (charge_td) {
                        charge_td.innerText = charge.toFixed(0) + " Ah";
                    }
                    let charge_td_rel = document.getElementById("charge_rel_" + i);
                    if (charge_td_rel) {
                        charge_td_rel.innerText = (charge / capacity * 100).toFixed(1) + " %";
                    }
                    document.getElementById("voltage_" + i).innerText = voltage.toFixed(1) + " V";
                    document.getElementById("current_" + i).innerText = current.toFixed(1) + " A";
                    document.getElementById("temperature_" + i).innerText = temperature.toFixed(1) + " °C";
                    document.getElementById("error_" + i).innerText = error_msg;

                    let upper_cell_voltage;
                    let lower_cell_voltage;
                    upper_cell_voltage = document.getElementById("upper_cell_voltage_" + i);
                    lower_cell_voltage = document.getElementById("lower_cell_voltage_" + i);
                    if (upper_cell_voltage) {
                        upper_cell_voltage.innerText = Math.max(...cell_voltages).toFixed(2) + " V";
                    }
                    if (lower_cell_voltage) {
                        lower_cell_voltage.innerText = Math.min(...cell_voltages).toFixed(2) + " V";
                    }

                    let cell_idx = 1;
                    let td_cell;
                    for (const cell in cell_voltages) {
                        voltage = cell_voltages[cell];
                        id = "cell_voltage_" + i + "_" + cell_idx;
                        td_cell = document.getElementById(id);
                        if (td_cell) {
                            td_cell.innerText = voltage.toFixed(2) + " V";
                        }
                        cell_idx++;
                    }
                    i++;
                }

                if (settings["interconnection"] === "parallel_connection") {
                    total_voltage /= len(nodes);
                } else if (settings["interconnection"] === "series_connection") {
                    total_capacity /= len(nodes);
                    total_charge /= len(nodes);
                    total_current /= len(nodes);
                }

                document.getElementById("total_capacity").innerText = total_capacity.toFixed(0) + " Ah";
                td_total_charge = document.getElementById("total_charge");
                if (td_total_charge) {
                    td_total_charge.innerText = total_charge.toFixed(0) + " Ah";
                }
                let total_charge_rel = document.getElementById("total_charge_rel");
                if (total_charge_rel) {
                    total_charge_rel.innerText = (total_charge / total_capacity * 100).toFixed(1) + " %";
                }
                document.getElementById("total_voltage").innerText = total_voltage.toFixed(1) + " V";

                if (Math.abs(total_current) < 0.8) {
                    total_current = 0.0;
                }
                document.getElementById("total_current").innerText = total_current.toFixed(1) + " A";
            }
        )
    }

    function auto_update() {
        setInterval(function () {
            update();
        }, 1000)
    }

    auto_update();

</script>

<script src="/vendor/jquery/jquery-3.3.1.slim.min.js"></script>
<script src="/vendor/popper/popper.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<!-- <script src="/vendor/sweetalert/sweetalert.min.js"></script> -->

</body>
</html>
