<!DOCTYPE html>
<html lang="de">
<head>
    <title>Akku - Internet</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <h1 class="text-center text-success">Einstellungen</h1>
    <h2 class="text-center text-success">Internet</h2>

    <form class="p-3 mb-2 bg-dark text-white" action="/api/internet" method="post">
        <div class="form-group">
            <label for="ssid">SSID (Name des Hotpots)</label>
            <input type="text" class="form-control" id="ssid" name="ssid" aria-describedby="ssid"
                   placeholder="z.B. Fritz!Box WLAN 7390" value="{{ ssid }}" required>
        </div>
        <div class="form-group">
            <label for="password">Passwort</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Passwort"
                   required>
        </div>
        <div class="form-group">
            <label for="client_mode">Beim Start mit WLAN-Hotspot verbinden</label>
            <input type="checkbox" id="client_mode" name="client_mode" {{ client_mode }}>
        </div>
        <br/>
        <button type="submit" class="btn btn-primary">Speichern</button>
        <br/><br/>
        <div class="text-warning">
            Damit das WLAN-Modul Alarm-Meldungungen via E-Mail verschicken kann, wird eine Internetverbindung über einen
            WLAN-Router benötigt.
        </div>
        <br/>
        <a href="/settings.html" class="btn btn-warning btn-block">Zurück</a>
    </form>
</div>

<script src="/vendor/jquery/jquery-3.3.1.slim.min.js"></script>
<script src="/vendor/popper/popper.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/vendor/sweetalert/sweetalert.min.js"></script>
</body>
</html>
