<!DOCTYPE html>
<html lang="de">
<head>
    <title>Akku - Internet</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <h1 class="text-center text-success">Einstellungen</h1>
    <h2 class="text-center text-success">Internet</h2>

    <form class="p-3 mb-2 bg-dark text-white" action="/api/internet" method="post">
        <div class="form-group">
            <label for="ssid">SSID (Name des Hotpots)</label>
            <input type="text" class="form-control" id="ssid" name="ssid" aria-describedby="ssid"
                   placeholder="z.B. Fritz!Box WLAN 7390" value="{{ ssid }}" required>
        </div>
        <div class="form-group">
            <label for="password">Passwort</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Passwort"
                   required>
        </div>
        <div class="form-group">
            <label for="client_mode">Beim Start mit WLAN-Hotspot verbinden</label>
            <input type="checkbox" id="client_mode" name="client_mode" {{ client_mode }}>
        </div>

        <label for="dd">Sichtbare WLAN Netzwerke werden in dieser Liste angezeigt und können ausgewählt werden. Die SSID wird dann übernommen.</label>
        <div class="dropdown" id="dd">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                WLAN Netzwerke
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="access-points">
                <!-- <a class="dropdown-item" href="#">Action</a> -->
            </div>
        </div>
        <br/>
        <button type="submit" class="btn btn-primary">Speichern</button>
        <br/><br/>
        <div class="text-warning">
            Damit das WLAN-Modul Alarm-Meldungungen via E-Mail verschicken kann, wird eine Internetverbindung über einen
            WLAN-Router benötigt.
        </div>
        <br/>
        <a href="/settings.html" class="btn btn-warning btn-block">Zurück</a>
    </form>
</div>

<script type="text/javascript">
    let ap;
    fetch("/api/wlan/list").then(function (request) {
        return request.json()
    }).then(function (data) {
        let text;
        let menu;
        let div;
        menu = document.getElementById("access-points");
        for (ap in data["aps"]) {
            text = data["aps"][ap];
            div = document.createElement("div");
            div.innerText = text;
            div.className = "dropdown-item";
            div.onclick = function (butt) {
                let src;
                src = butt.target.innerText;
                // console.log(src)
                document.getElementById("ssid").value = src;
            }
            menu.appendChild(div);
        }
    })
</script>

<script src="/vendor/jquery/jquery-3.3.1.slim.min.js"></script>
<script src="/vendor/popper/popper.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/vendor/sweetalert/sweetalert.min.js"></script>
</body>
</html>
